<div id="<%= modulenameLowerCase %>List">
  <h2><%= modulename %> List</h2>
  <div class="col-sm-12" style="margin-bottom: 10px">
    <div class="pull-left">
      <button class="btn btn-primary" v-on:click="create<%= modulename %>">Create</button>
    </div>
  </div>
  <div class="col-sm-12" id="<%= modulenameLowerCase %>">
    <table
      id="<%= modulenameLowerCase %>Table" :data-url="url"
      data-page-size="10"
      data-page-list="{{ pageList }}"
      data-striped="true"
      data-classes="table table-hover table-condensed"
      data-show-columns="true"
      data-search="true"
      data-side-pagination="server"
      data-pagination-v-align="both"
      data-pagination="true"
      data-show-toggle="true"
      data-locale="en-US">
    </table>

    <div class="modal fade" id="<%= modulenameLowerCase %>Dialog" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title for <%= modulename %></h4>
          </div>
          <div class="modal-body">
            <input type="hidden" id="<%= modulenameLowerCase %>Id"/>
            <h2>Construct the form body fields here.</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="save<%= modulename %>()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%%
  block('moduleScript').append(
    Loader('/public/build/<%= modulenameLowerCase %>List.min.js')
      .js('/public/js/common/common.js')
      .js('/public/js/<%= modulenameLowerCase %>/<%= modulenameLowerCase %>List.js')
      .done(assets, config.site_static_host)
  )
%%>
